.list-title-area {
    width: calc(100vw - 80px);
    position: absolute;
    min-height: 120px;
    overflow: hidden;
    right: 0;
    background-color: #A164D0;
    font-size: 42pt;
    color: white;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 15px;
}


body {
    margin: 0;
    font-family: 'PT Sans';
    background-color: #4A4A4A;
}

.to-do-list-area {
    position: absolute;
    right: 0;
    top: 150px;
    width: calc(100vw - 50px);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 80px);
    margin: 15px;
    background-color: #7BA36C;
}

#checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-right: 15px;
    border-width: 2px;
    cursor: pointer;
}

#checkbox:hover {
    background-color: white;
}

.mini-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

#duedate {
    color: white;
    font-family: 'PT Sans';
}

.edit {
    margin-left: 15px;
    cursor: pointer;
}

.info {
    margin-left: 15px;
    cursor: pointer;
}
@font-face {
    font-family: 'PT Sans';
    src: url(./PTSans-Regular.ttf);
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: #373737;
    text-align: right;
}

#new-item-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    border-style: none;
    padding: 15px;
    background-color: #03fc77;
    color: white;
    border-radius: 5px;
}

#new-item-btn:hover {
    cursor: pointer;
    color: #A164D0;
}

#new-item-form-container {
    background-color: #373737;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  color: white;
  padding: 15px;
}

#info-box {
    background-color: #373737;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  color: white;
  padding: 15px 30px 15px 15px;
  width: 300px;
  min-height: 30px;
}

#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    z-index: 1000;
}

#description {
    resize: none;
    background-color: #FFFFFF;
    opacity: 0.25;
    border-style: none;
    margin-top: 10px;
}

#duedate {
    margin-right: 15px;
    background: transparent;
    border: none;
    color: white;
    opacity: 0.25;
    cursor: pointer;
}

#titlefield {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    opacity: 0.25;
}

.side-bar-text {
    position: absolute;
    left: 15px;
    color: white;
    text-align: left;
}

.table-icon {
    margin-right: 5px;
}

#close-form-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
}

#priority-selector {
    border-style: none;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

#submit-button {
    border-style: none;
    padding: 5px;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.list:hover {
    cursor: pointer;
    color: #A164D0;
}

#hamburger {
    cursor: pointer;
    color: white;
    margin: 18px;
}

.new-list-button {
    cursor: pointer;
    font-size: 10pt;
    font-weight: 400;
}

.new-list-button:hover {
    color: #A164D0;
}

#today {
    cursor: pointer;
}

#today:hover {
    color: #A164D0;
}